* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#news {
  padding-bottom: 3rem;
}

#news img {
  max-width: 100%;
  border-radius: 5px;
}

#news img:hover {
  cursor: pointer;
}

#news h5 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#news h5:hover {
  color: #e9572b;
  cursor: pointer;
}

#news p {
  font-size: 0.875rem;
}

#news .item img {
  width: 1.25rem;
  margin: 0.75rem;
  transition: all 0.2s;
}

#news .item img:hover {
  cursor: pointer;
  width: 1.325rem;
}

#news .item {
  color: #b2b2b2;
}

#news .list img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

#news .list p {
  font-size: 1rem;
}

#news .list p:hover {
  color: #e9572b;
  cursor: pointer;
}

#news button {
  color: #b2b2b2;
  border: 1px solid #b2b2b2;
  padding: 0.5rem 1.785rem;
  border-radius: 5px;
}

#news button:hover {
  background-color: #e9572b;
  color: #fff;
}

#news .nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: center;
}

#news .nav-tabs .nav-item .nav-link.active {
  border-color: #fff;
  color: #fa5238;
  font-size: 1.5rem;
}

#news .nav-tabs .nav-item .nav-link {
  color: #000;
  border: unset;
  transition: all 0.2s;
}

#news .nav-tabs .nav-item :hover {
  font-size: 1.5rem;
}

#news .nav-tabs .nav-item {
  font-size: 1.25rem;
}

.backapp {
  position: relative;
  background-image: url("../img/backapp.jpg");
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.backapp__item {
  width: 70%;
  margin-left: 20%;
  margin-top: 20%;
}

.backapp__item h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 40px;
}

.backapp__item p {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0;
  padding: 20px 0;
}

.backapp__item button {
  background-color: #fb4226;
  color: #fff;
  font-weight: 600;
}

.backapp .mobile-app {
  width: 100%;
  height: 100%;
  position: relative !important;
}

.backapp .mobile-app .img-responsive {
  position: absolute !important;
  width: 220px;
  height: 433px;
  top: 20%;
  left: 11%;
}

.backapp .mobile-app .slick__resposive {
  border-radius: 20px !important;
  overflow: hidden;
  position: absolute !important;
  width: 208px;
  height: 438px;
  top: 23%;
  left: 12%;
}

.backapp .mobile-app .slick__resposive .your-class:focus {
  outline: none;
}

.backapp .mobile-app .slick__resposive .slick-prev,
.backapp .mobile-app .slick__resposive .slick-next {
  display: none !important;
}

.footer {
  background-color: #222222;
  min-height: 100px;
}

.footer__detail1 {
  width: 80%;
  margin: auto;
}

.footer__detail1 .footer__top-item {
  margin-top: 20px;
}

.footer__detail1 .footer__top-item h4 {
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0;
}

.footer__detail1 .footer__top-item .row .rounded-circle:hover {
  background-color: white;
  opacity: 0.8;
}

.footer__detail1 .footer__top-item .footer__item-title a {
  font-size: 12px;
  color: #9b9b9b;
  font-weight: 600;
  letter-spacing: 0;
}

.footer__detail1 a img {
  width: 30px;
}

.footer .footer__detail2 img {
  width: 60px;
  border-radius: 5px;
}

.footer .footer__detail2 p:nth-child(1) {
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0;
}

.footer .footer__detail2 p {
  margin-bottom: 3px;
  font-size: 12px;
  color: #9b9b9b;
  font-weight: 300;
  letter-spacing: 0;
}

.footer .footer__detail2 .img-2 img {
  width: 120px;
}
/*# sourceMappingURL=style.css.map */