@mixin colorP {
  .red,
  .green {
    border: 1px solid transparent;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
    color: #fff;
    font-size: 0.825rem;
  }
  .green {
    background-color: #00ac4d;
    padding: 0 0.7rem;
  }
  .red {
    background-color: #fb4226;
    padding: 0 0.2rem;
  }
}
@mixin tab {
  .nav-tabs {
    border-bottom: none;
    display: flex;
    justify-content: center;

    .nav-item {
      .nav-link.active {
        border-color: #fff;
        color: #fa5238;
        font-size: 1.5rem;
      }
      .nav-link {
        color: #000;
        border: unset;
        transition: all 0.2s;
      }
      :hover {
        font-size: 1.5rem;
      }
    }
    .nav-item {
      font-size: 1.25rem;
    }
  }
}

@mixin Text($fontSize, $color, $fontWeight, $letter-spacing) {
  font-size: $fontSize;
  color: $color;
  font-weight: $fontWeight;
  letter-spacing: $letter-spacing;
}

@mixin Mediaquery($type) {
  @if $type==$xs {
    @media screen and(max-width: $xs) {
      @content;
    }
  } @else if $type==$sm {
    @media screen and(max-width: $sm) {
      @content;
    }
  } @else if $type==$md {
    @media screen and(max-width: $md) {
      @content;
    }
  } @else if $type==$lg {
    @media screen and(max-width: $lg) {
      @content;
    }
  }
}
