.footer {
  background-color: $colorFooter;
  min-height: 100px;
  &__detail1 {
    width: 80%;
    margin: auto;
    // border-bottom: 1px solid $white;
    .footer__top-item {
      margin-top: 20px;
      h4 {
        @include Text(13px, $white, 300, 0);
      }
      .row {
        .rounded-circle:hover {
          background-color: white;
          opacity: 0.8;
        }
      }
      .footer__item-title {
        a {
          @include Text(12px, $colorLight, 600, 0);
        }
      }
    }
    a {
      img {
        width: 30px;
      }
    }
  }
  .footer__detail2 {
    img {
      width: 60px;
      border-radius: 5px;
    }
    p:nth-child(1) {
      @include Text(13px, $white, 300, 0);
    }
    p {
      margin-bottom: 3px;
      @include Text(12px, $colorLight, 300, 0);
    }
    .img-2 {
      img {
        width: 120px;
      }
    }
  }
}
